<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tech Blog</title>
        <link rel="stylesheet" href="../../public/stylesheets/style.css">
    </head>

    <body>
        <div class="wrapper">
            <header>
                <h1>
                    <a href="/">Tech Blog</a>
                 </h1>
           
                <nav>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/posts/create">Create Post</a></li>
                        <li><a href="/login">login</a></li>
                    
                    </ul>
                    <button id="logout" class="btn-no-style">Logout</button>

                </nav>
            </header>
            <main>
                {{{ body }}}
            </main>
            <footer>
                <p>&copy;</p>
            </footer>
        </div>

    </body>
    <script src="/javascript/logout.js"></script>

</html>