
{{> post-info post}}

    {{#if loggedIn}}
    <form class="comment-form">
        <div>
            <input type="hidden" name="post-id" value="{{post._id}}"/>
            <label for="comment-body">Comment:</label>
            <textarea class="comment-body" name="comment-body"></textarea>
            <button class="btn" type="submit">submit</button>
        </div>
        
    </form>
    {{/if}}

    {{> comments post.comments}}

    {{#if loggedIn}}

    <script src="/javascript/comment.js"></script>
    <script src="/javascript/edit-post.js"></script>
    <script src="/javascript/delete-post.js"></script>
    {{/if}}

